<section class='exported'>
  {{#each doc.dogDescOut2}}
    <p class='prose-block prose-block-in'>{{{value}}}</p>
  {{/each}}

  {{#each doc.dogDescIn2}}
    <p class='prose-block prose-block-out'>{{{value}}}</p>
  {{/each}}

  {{#each doc.dogDescInEx2}}
    <p class='prose-block prose-block-outEx'>{{{value}}}</p>
  {{/each}}

  <figure class='exported-figure'>

    <div class='figure-meta'>
      <!-- <h3 class='figure-title'>{{{doc.exportedTitle}}}</h3> -->
      <h3 class='figure-title'>{{{doc.exportedSectionTitle}}}</h2>
      <h4 class='figure-sub'>{{{doc.exportedSub}}}</h4>

      <h3 class='interactive-title'>{{{doc.exportedTitle}}}</h3>

      <p class='figure-warning'>{{{doc.exportedWarning}}}</p>
    </div>

    <div class='figure-container'>
    </div>

    <div class='transparency is-visible'></div>

  </figure>

  <div class='exported-tooltip tooltip is-hidden'>
    <p class='tooltip-name'></p>
    <p class='tooltip-desc'></p>
    <p class='tooltip-breed'></p>
  </div>

  <div class='bttn-wrapper'>
    <button class='show-more is-visible'>
      Show all
    </button>
  </div>

  <div class='figure-note'>{{{doc.exportNote}}}</div>
</section>
