<section class='exported'>
  {{#each doc.dogDescOut2}}
    <p class='prose-block prose-block-in'>{{{value}}}</p>
  {{/each}}

  {{#each doc.dogDescIn2}}
    <p class='prose-block prose-block-out'>{{{value}}}</p>
  {{/each}}
  
  <h2 class='section-title'>{{{doc.exportedSectionTitle}}}</h2>
  <figure class='exported-figure'>

    <div class='figure-meta'>
      <!-- <h3 class='figure-title'>{{{doc.exportedTitle}}}</h3> -->
      <h3 class='figure-title'>Where dogs in</h3>
      <select class='stateSelect stateSelect-title' data-condition='limited'>Washington</select>
      <h3 class='figure-title'>are</h3>
        <button class='toggle' role='switch' aria-checked='true' aria-labelledby='figure-title'>
            <span class='button-label'>Imported From</span>
            <span class='button-label'>Exported To</span>
        </button>

      <h4 class='figure-sub'>{{{doc.exportedSub}}}</h4>
      <p class='figure-warning'>{{{doc.exportedWarning}}}</p>
    </div>

    <div class='figure-container'>
    </div>

    <div class='transparency is-visible'></div>

  </figure>

  <div class='exported-tooltip tooltip is-hidden'>
    <p class='tooltip-name'></p>
    <p class='tooltip-desc'></p>
    <p class='tooltip-breed'></p>
  </div>

  <div class='bttn-wrapper'>
    <button class='show-more is-visible'>
      Show all
    </button>
  </div>

  <div class='figure-note'>{{{doc.exportNote}}}</div>
</section>
