<section class='intro'>
	<!-- <h1 class='intro__hed'>{{meta.title}}</h1>
	<p class='intro__dek'>{{meta.description}}</p> -->
	<div class='article-meta'>
		<p class='intro__byline'>By
			<a href='{{doc.authorURL}}' target='_blank'>{{doc.author}}</a>
		</p>
		<time class='intro__time'>September 2019</time>
	</div>

	{{#each doc.intro}}
		<p class='prose-intro'>{{{value}}}</p>
	{{/each}}

	<div class='intro-dog'>
		<img class='intro-dog_image'>
		<div class='intro-dog_out'>
			{{#each doc.dogDescOut}}
				<p class='prose-block'>{{{value}}}</p>
			{{/each}}
		</div>

		<div class='intro-dog_in'>
			{{#each doc.dogDescIn}}
				<p class='prose-block'>{{{value}}}</p>
			{{/each}}
		</div>
	</div>
</section>
