<section class='intro'>
	<!-- <h1 class='intro__hed'>{{meta.title}}</h1>
	<p class='intro__dek'>{{meta.description}}</p> -->
	<div class='article-meta'>
		<p class='intro__byline'>Code & Story by
			<a href='{{doc.authorURL}}' target='_blank'>{{doc.author}}</a>
		</p>
		<p class='intro__byline'>Design by
			<a href='{{doc.designURL}}' target='_blank'>{{doc.design}}</a>
		</p>
		<time class='intro__time'>September 2019</time>
	</div>

	{{#each doc.intro}}
		<p class='prose-intro'>{{{value}}}</p>
	{{/each}}

	{{#each doc.introNevada}}
		<p class='prose-intro prose-introNevada'>{{{value}}}</p>
	{{/each}}

	<div class='intro-dog'>
		<img class='intro-dog_image'>
		<div class='intro-dog_out'>
			{{#each doc.dogDescOut}}
				<p class='prose-block'>{{{value}}}</p>
			{{/each}}
		</div>

		<div class='intro-dog_in'>
			{{#each doc.dogDescIn}}
				<p class='prose-block'>{{{value}}}</p>
			{{/each}}
		</div>

		<div class='intro-dog_inEx'>
			{{#each doc.dogDescInEx}}
				<p class='prose-block'>{{{value}}}</p>
			{{/each}}
		</div>

		<figure class='intro-dog__bar'>
			<div class='bars'>
				<div class='bar bar__inState'>
					<p class='bar__inState-label bar-label'>0%</p>
				</div>
				<div class='bar bar__outState'>
					<p class='bar__outState-label bar-label'>0%</p>
				</div>
			</div>

			<div class='labels'>
				<h4>In-State</h4>
				<h4>Out of State</h4>
		</figure>

	</div>

	<div class='intro-dog_out'>
		{{#each doc.dogDescOut2}}
			<p class='prose-block prose-block-in'>{{{value}}}</p>
		{{/each}}
	</div>

	<div class='intro-dog_out'>
		{{#each doc.dogDescIn2}}
			<p class='prose-block prose-block-out'>{{{value}}}</p>
		{{/each}}
	</div>
</section>
