<section class='movement'>
  {{#each doc.preMovement}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}

  <figure class='movement-figure'>

    <div class='figure-meta'>
      <h3 class='figure-title'>{{{doc.movementTitle}}}</h3>
      <h4 class='figure-sub'>{{{doc.movementSub}}}</h4>
      <div class='figure-legend'>
        <div class='legend-size'></div> <p class='legend-text'> = <span class='legend-scale'>2</span> dogs</p>
        <div class='legend-color legend-color_import'>
          <div class='legend-block'></div>
          <div class='legend-block'></div>
          <div class='legend-block'></div>
        </div>
        <p class='legend-text'> Imported </p>
        <div class='legend-color legend-color_export'>
          <div class='legend-block'></div>
          <div class='legend-block'></div>
          <div class='legend-block'></div>
        </div>
         <p class='legend-text'> Exported </p>
      </div>
    </div>

    <div class='figure-container'>
    </div>
  </figure>

  <div class='movement-tooltip tooltip is-hidden'>
    <p class='tooltip-state'></p>
    <p class='tooltip-dogs'><span class='tooltip-count tooltip-count-import'></span> imported dogs</p>
    <p class='tooltip-dogs'><span class='tooltip-count tooltip-count-export'></span> exported dogs</p>
  </div>

  <div class='figure-note'>{{{doc.movementNote}}}</div>

  {{#each doc.postMovement}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}
</section>
